<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEED - Harvesting Brilliance</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="landing-page">
    <div class="hero">
        <header>
            <div class="logo">SEED</div>
            <nav>
                <a href="/" class="active">Home</a>
                <a href="#">About</a>
                <a href="/predict">Check</a>
                <a href="#">Contact</a>
            </nav>
        </header>
        <div class="hero-content">
            <div class="welcome-badge">Welcome to <span>Seed</span></div>
            <h1>WE'RE CREATING HEALTHY SEEDS</h1>
            <p>Detecting the proper seed for the use!!</p>
            <a href="/predict" class="btn">GET STARTED</a>
        </div>
    </div>
</body>

</html>